<div id="tag">
    <mat-card>
        <mat-card-title>{{task.title}}</mat-card-title>
        <mat-card-content>{{task.desc}}</mat-card-content>
        <div *ngIf="task.done === true; else falseBlock">
            <mat-card-footer>Status: Completed</mat-card-footer>
        </div>
        <ng-template #falseBlock><mat-card-footer>Status: Not completed</mat-card-footer></ng-template>
        <div class="botones">
            <button mat-raised-button color="primary" type="submit" (click)="taskDetails()">Details</button>
            <button mat-raised-button color="primary" type="submit" (click)="changeDone()">Done</button>
            <button mat-raised-button color="warn" type="submit" (click)="deleteTask()">Delete</button>
        </div>
    </mat-card>
</div>