#tag{
    margin: 2vh;
}

mat-card-footer{
    margin-left: 1vw;
    padding: 2vw;
}

#trueCard{
    background-color: lightgreen;
    color: black;
}

#falseCard{
    background-color: darkgrey;
}

.botones{
    margin-top: 5vh;
    button{
        margin-inline: 1vw;
    }
}