#container{
    border-radius: 2vh;
    background-color: lightcoral;
    margin: auto;
    margin-top: 2vh;
    width: 90%;
}

h1{
    font-style: italic;
    font-weight:800;
}

mat-label{
    font-size: large;
    font-style: italic;
}

.taskForm{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

#tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4vh;
}

#formContainer{
    margin-top: 2vh;
    text-align: center;
    padding-top: 4vh;
}

input{
    margin: 1vw;
    padding: 0.8vh;
}

#noTasks{
    text-align: center;
    margin: 2vh auto;
}