#tag{
    display: flex;
    flex-wrap: wrap;
}

#formContainer{
    margin-top: 2vh;
    text-align: center;
}

input{
    margin: 1vw;
    padding: 0.8vh;
}

#noTasks{
    text-align: center;
    margin: 2vh auto;
}