#container{
    border-radius: 2vh;
    background-color: lightcoral;
    margin: auto;
    margin-top: 2vh;
    width: 90%;
}

h1{
    font-style: italic;
    font-weight:800;
}


.taskForm{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

mat-label{
    font-size: large;
    font-style: italic;
}

#formContainer{
    margin-top: 2vh;
    text-align: center;
    padding-top: 4vh;
}

.taskForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin: 1vw;
    padding: 0.8vh;
}

#descInput{
    width: 50vw;
    height: 7vh;
}

button{
    margin-bottom: 2vh;
}